$black-100: #595c67;
$black-400: #050a1b;
$black-500: #121625;
$blue-100: #f2f5fc;
$gray-150: #a6acbb;
$blue-200: #98abd9;
$blue-300: #d0d9ef;
$blue-400: #0432d3;
$white: #fff;

$error: #ffeef1;

$blue-hover: #1b4dff;