
$black-100: #595C67;
$black-400: #050A1B;
$black-500: #121625;
$blue-100: #F2F5FC;
$gray-150: #A6ACBB; 
$blue-200: #98ABD9;
$blue-300: #D0D9EF;
$blue-400: #0432D3;
$white: #fff;

$error: #FFEEF1;

$blue-hover: #1B4DFF;