form(action="#").card
  .card__containers
    .card__bubble 3 digits on the back of your card.
      .card__bubble__close
        img(src="/assets/images/close.svg", alt="close")
    .card__container.card__front
      .card__logo
        img(src="/assets/images/chip.svg" alt="chip")
      .card__content
        label.card__label.card__number
          .card__name 
            span Card number
          input.card__input.cc-number-input(type="test" name="nubmer" placeholder="1234 1234 1234 1234" required maxlength="19" autocomplete="off")
        label.card__label.card__title
          .card__name 
            span Cardholder name
          input.card__input(type="text" name="name" placeholder="John Smith" required)
        label.card__label.card__date
          .card__name 
            span Expiry date
          input.card__input.cc-expiry-input(type="text" name="date" placeholder="08/29" required maxlength="5" autocomplete="off")
    .card__container.card__back
      .card__content
        label.card__label.card__cvc
          .card__name.card__name-svg 
            span CVV/CVC
            img.card__attention(src="/assets/images/attention.svg" alt="attention")
          input.card__input.cc-cvc-input(type="text" name="cvc" placeholder="123" required maxlength="3" autocomplete="off")
  .card__footer
    .card__payment
      button(type="submit").card__button
        span Connect
        img(src="/assets/images/security.svg" alt="security")
      p.card__text We'll charge and refund €1 to check if the card is valid.
    .card__services
      .card__service
        img(src="/assets/images/visa.svg" alt="visa")
      .card__service
        img(src="/assets/images/mc.svg" alt="mc")
      .card__service
        img(src="/assets/images/pci.svg" alt="pci")