header.header
  .wrapper
    .header__wrapper
      button(type="button").header__back-mobile
        img(src="/assets/images/arrow-left-mobile.svg" alt="arrow-left-mobile")
      button(type="button").header__back
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M13 4.00024L7 10.0002L13 16.0002" stroke="#050A1B" stroke-width="1.5" stroke-linecap="square"/></svg>
        span.header__button.header__button-default Back
      a(href="#").header__logo
        img(src="/assets/images/logo.svg" alt="logo")
      button(type="button").header__button.header__button-blue Skip