section.hero
  .wrapper-sm
    .hero__steps
      .hero__step
      .hero__step
      .hero__step.active
    h1.hero__title Connect your bank card
    .hero__text You'll get discounted prices when shopping with Slash using this card. Your data will be stored on secure servers using industry standard encryption and will not be shared with any third party. 
    include ./card.pug